#container{
    margin: 50px auto;
    padding: 20px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 5px;
    width: 300px;
    background-color: cornflowerblue;
    text-align: center;
}

#num{
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: white;
}

button{
    font-family: monospace;
    font-size: 20px;
    color: white;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-color: darkblue;

}