body{
    font-family: monospace;
}

#container{
    margin: 50px auto;
    padding: 20px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 5px;
    width: 300px;
    background-color: cornflowerblue;
    text-align: center;
}

#num{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    color: white;
}